
<head>

  <title>utilisateurNew</title>
</head>




<template name="utilisateurNew">
    <h3>Créer un utilisateur</h3>


        <form class="main">
            <div class="control-group">
                
                <div class="controls">
                    <input name="name" type="text" value="" placeholder="Tapez votre nom !"/>
                </div>
            </div>
            <br>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Soumettre" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </template>






